.background{
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.messages{
    height: 80vh;
}
.inputfield{
    display: flex;
    justify-content: space-evenly;
}
.inputbox{
    display: flex;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    padding-right: 10px;
}
.sendButton{
    width: 10%;
    padding: 10px;
    border-radius: 15px;
}

