.background {
  background-color: aqua;
  display: flex;
  flex-direction: column;
}


.message_background{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 85vh;
}

.message_box{
  display: flex;
  /* background-color: wheat; */
}

.message{
  border-radius: 1opx;
  background-color: red;
}

.inputfield {
  display: flex;
  justify-content: space-evenly;
}
.inputbox {
  display: flex;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  padding-right: 10px;
}
.sendButton {
  width: 10%;
  padding: 10px;
  border-radius: 15px;
}
